/*!*************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss ***!
  \*************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700);
/*!*****************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss (1) ***!
  \*****************************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/*!*****************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss (2) ***!
  \*****************************************************************************************************************/
* {
  font-family: "Montserrat", sans-serif; }

body {
  background: #080808;
  color: #fff;
  letter-spacing: 2px;
  width: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem; }

html::-webkit-scrollbar {
  width: .8rem; }

html::-webkit-scrollbar-track {
  background: transparent; }

html::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5rem; }

h1 {
  margin: 0 0; }

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

/* Links */
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

li {
  list-style: none;
  list-style-type: none; }

ul {
  list-style-type: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

._container {
  min-width: 1600px;
  margin: 0px auto;
  padding: 0px 20px; }

.header-parallax {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.header-parallax__text-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 550px 200px;
  font-size: 30px;
  z-index: 5;
  padding: 25px 50px;
  position: relative;
  backdrop-filter: blur(5px);
  background-color: rgba(100, 100, 101, 0.37);
  border-radius: 15px; }
  .header-parallax__text-container .header-parallax__title {
    margin-top: 10px;
    font-size: 60px;
    padding-bottom: 20px;
    padding-right: 36px; }
    .header-parallax__text-container .header-parallax__title span {
      font-weight: 900;
      text-transform: uppercase;
      color: #7d9900; }

.mask {
  height: 60px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700; }

.mask span {
  display: block;
  position: absolute;
  width: max-content;
  top: 80px;
  padding-bottom: 20px;
  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat; }

.mask span[data-show] {
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out; }

.mask span[data-up] {
  transform: translateY(-200%);
  transition: 0.5s transform ease-in-out; }

.mask span:nth-child(1) {
  background-image: linear-gradient(180deg, #0057b8 20%, #ffd700); }

.mask span:nth-child(2) {
  background-image: linear-gradient(180deg, #0057b8 20%, #ffd700); }

.mask span:nth-child(3) {
  background-image: linear-gradient(180deg, #0057b8 20%, #ffd700); }

.mask span:nth-child(4) {
  background-image: linear-gradient(180deg, #0057b8 20%, #ffd700); }

.header-parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%; }

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.images-parallax_icons,
.images-parallax_icons-greyscale,
.images-parallax_humans {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

.images-parallax_icons {
  background: url(img/bgSiteBlackWhite.png) top/cover no-repeat;
  opacity: 25%; }

.images-parallax_icons-greyscale {
  background: url(img/bgSite.png) top/cover no-repeat;
  z-index: 2; }

.images-parallax_humans {
  background: url(img/photo_for_site_horizontalGreyscale.png) top/cover no-repeat;
  z-index: 3; }

.header {
  font-size: 18px;
  position: fixed;
  top: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: fit-content;
  box-shadow: 0 8px 32px 0 rgba(100, 100, 101, 0.37);
  backdrop-filter: blur(5px);
  background-color: rgba(100, 100, 101, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  z-index: 5; }
  .header__icons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .header__site-language {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 100px; }
    .header .header__site-language option[value="eng"] {
      background: #2a2a2a;
      width: fit-content; }
    .header .header__site-language option[value="ukr"] {
      background: #2a2a2a;
      width: fit-content; }
  .header .header__navigation ul {
    display: flex;
    padding: 20px 100px;
    justify-content: space-around;
    gap: 7rem; }
  .header .header__navigation ul a {
    position: relative; }
  .header .header__navigation ul a.active {
    color: #7d9900; }
  .header .header__navigation ul a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #7d9900;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s ease-in-out; }
  .header .header__navigation ul a:hover::after {
    width: 100%; }

.about {
  display: flex;
  padding: 80px 0;
  position: relative;
  color: #ababab;
  background: #171717;
  min-height: 70vh;
  z-index: 2; }
  .about::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #171717 100%); }
  .about::after {
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transform: translate(0px, 97%);
    background: linear-gradient(0deg, rgba(11, 29, 38, 0) 5%, #171717 100%); }
  .about .about-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
    margin-top: 50px; }
    .about .about-row__col-1 {
      flex-basis: 35%;
      padding-left: 150px; }
      .about .about-row__col-1 img {
        width: 100%;
        border-radius: 15px; }
    .about .about-row__col-2 {
      padding-right: 150px;
      flex-basis: 60%; }
    .about .about-row__title {
      font-size: 40px;
      text-align: center;
      font-weight: 900; }
    .about .about-row__tabs-nav {
      display: flex;
      gap: 30px;
      justify-content: flex-start; }
    .about .about-row__tabs-link {
      margin-top: 10px;
      position: relative;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer; }
    .about .about-row__tabs-link::after {
      content: "";
      width: 0;
      height: 3px;
      background-color: #7d9900;
      position: absolute;
      left: 0;
      bottom: -8px;
      transition: 0.5s; }
    .about .about-row__tabs-link.active-link::after {
      width: 50%; }
    .about .about-row__tab-item {
      display: none; }
    .about .about-row__tab-item.active-tab {
      padding-top: 20px;
      font-size: 18px;
      margin-top: 30px;
      line-height: 1.5;
      display: block; }
    .about .about-row__tab-item.active-tab li {
      padding-bottom: 10px;
      font-weight: 400; }
    .about .about-row__tab-item.active-tab span {
      font-weight: 600; }

.skills {
  padding: 180px 0;
  position: relative;
  color: #fff;
  background: #080808;
  min-height: 100vh;
  z-index: 1; }
  .skills__title {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 200px; }
  .skills__text-container {
    text-transform: capitalize;
    margin: 0 auto;
    font-weight: 500;
    overflow: hidden;
    font-size: 40px; }

.text-label__hard-skills {
  display: block;
  overflow: hidden;
  margin-left: 250px;
  padding-bottom: 200px; }

.swiperRight {
  position: relative;
  width: auto;
  display: block;
  height: 100%;
  max-height: 100%; }

.skills__body {
  width: 100%;
  height: 100%;
  position: relative; }

.text1 {
  position: absolute;
  top: 100px;
  left: 0;
  font-size: 300px;
  font-weight: 900;
  letter-spacing: 50px;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.18); }

.text2 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 300px;
  font-weight: 900;
  letter-spacing: 50px;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.18); }

.text-label__soft-skills {
  display: block;
  overflow: hidden;
  padding-bottom: 100px;
  margin-right: 250px; }

.swiperLeft {
  width: auto;
  display: block;
  height: 100%;
  max-height: 100%; }

.swiper-slide {
  display: block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  text-align: center;
  position: relative; }
  .swiper-slide img {
    width: 100px;
    height: 100px; }

.swiper-bg {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 25%;
  box-shadow: 10px #171717;
  position: absolute;
  top: 0;
  left: 25%;
  width: 120px;
  height: 120px; }

.portfolio {
  padding: 80px 0;
  position: relative;
  color: #ababab;
  background: #171717;
  height: 100%;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center; }
  .portfolio::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #171717 100%); }
  .portfolio::after {
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    transform: translate(0px, 97%);
    background: linear-gradient(0deg, rgba(11, 29, 38, 0) 5%, #171717 100%); }

.title-portfolio {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 50px; }

.portfolio__project {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: space-around;
  padding: 0 100px;
  width: 100%; }

.card {
  width: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5); }
  .card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%); }
  .card:hover .card__image {
    transform: translateY(-10px); }
  .card:hover .card__thumb::after {
    top: 0; }
  .card:hover .card__snippet {
    margin: 20px 0; }
  .card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden; }
    @media (min-width: 1600px) {
      .card__thumb {
        max-height: 500px; } }
    .card__thumb::after {
      position: absolute;
      top: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 40%, rgba(255, 255, 255, 0) 100%);
      transition: 0.3s; }
      @media (min-width: 1600px) {
        .card__thumb::after {
          top: calc(100% - 140px); } }
  .card__image {
    transition: 0.5s ease-in-out; }
  .card__caption {
    position: absolute;
    top: 50%;
    z-index: 3;
    padding: 0 20px;
    color: white;
    transform: translateY(70%);
    text-align: center;
    transition: 0.3s; }
    @media (min-width: 1600px) {
      .card__caption {
        top: calc(100% - 110px);
        transform: unset; } }
  .card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }
    @media (min-width: 1600px) {
      .card__snippet {
        margin: 60px 0; } }
  .card__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s; }
    .card__button:hover {
      color: #fff;
      border: 1px solid #7d9900;
      background-color: #7d9900; }

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center; }
  .disclaimer__link {
    color: #755d87;
    text-decoration: none; }

.contact {
  padding: 180px 0;
  position: relative;
  color: #fff;
  background: #080808;
  height: 100%;
  z-index: 2; }
  .contact__title {
    font-size: 40px;
    text-align: center;
    font-weight: 900; }

.contact__container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px; }

.container-left {
  min-width: 100%;
  margin: 0 auto;
  align-self: center;
  justify-self: center; }
  .container-left h1 {
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center; }
  .container-left i {
    font-size: 20px;
    margin: 10px;
    color: #7d9900; }
  .container-left p,
  .container-left a {
    font-size: 15px; }
  .container-left p:hover,
  .container-left a:hover {
    color: #7d9900;
    padding-bottom: 5px; }

.container-right {
  min-width: 100%;
  margin: 0 auto;
  align-self: center;
  justify-self: center; }
  .container-right .social-icons {
    display: flex;
    width: 100%;
    flex-basis: 50%;
    flex-direction: column;
    padding-top: 40px;
    font-size: 15px;
    justify-items: center; }
    .container-right .social-icons i {
      font-size: 30px;
      color: #7d9900;
      width: fit-content;
      height: fit-content;
      margin: 10px; }
    .container-right .social-icons i:hover {
      font-size: 35px;
      margin: 7.5px; }

.container-2 {
  min-width: 100%;
  margin: 0 auto;
  align-self: center;
  justify-self: center; }

.download-cv {
  flex-basis: 50%;
  position: relative; }

.image-cv {
  height: 220px;
  box-shadow: 0 5px 10px 0 rgba(236, 233, 233, 0.2); }
  .image-cv:hover {
    box-shadow: 0 5px 10px 0 rgba(236, 233, 233, 0.5); }

.download-cv__button {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-out;
  background: rgba(27, 26, 26, 0.9);
  left: 4%;
  overflow: hidden;
  top: 50%; }
  .download-cv__button:hover {
    color: #fff;
    text-align: center;
    border: 1px solid #7d9900;
    background-color: #7d9900; }
  .download-cv__button .button-cv {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s; }

.download-cv__image {
  padding-top: 20px; }
  .download-cv__image img {
    object-fit: cover; }

.download-cv__image:hover .download-cv__button {
  backdrop-filter: blur(0px);
  opacity: 1; }

@media only screen and (min-width: 280px) {
  .icons_menu {
    padding: 0 100px;
    transition: all .2s linear; }
    .icons_menu i {
      display: inline-block;
      font-size: 20px;
      border-radius: 50%;
      background: #7d9900;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      width: 3rem; }
    .icons_menu i:hover {
      background: #fff;
      color: #171717; }
  .header__navigation {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .2s linear; }
  .header .header__navigation ul.active {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(100, 100, 101, 0.7);
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 101, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    z-index: 5; }
  .header .header__navigation ul {
    display: none;
    padding: 20px 10px;
    justify-content: space-around;
    gap: 1rem; }
  .header .header__icons .header__site-language {
    padding-right: 50px; }
  .contact__container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 25px;
    column-gap: 50px;
    row-gap: 50px; }
  .text-label__hard-skills {
    margin-left: 25px;
    padding-bottom: 25px; }
  .text-label__soft-skills {
    margin-right: 25px;
    padding-bottom: 50px; }
  .skills__title {
    padding-bottom: 90px; }
  .text1 {
    top: 79px;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 10px; }
  .text2 {
    bottom: 168px;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 15px; }
  .text-label__hard-skills {
    margin-left: 50px;
    padding-bottom: 40px; }
  .text-label__soft-skills {
    margin-right: 50px;
    padding-bottom: 100px; }
  .text-label__hard-skills {
    margin-left: 15px;
    padding-bottom: 100px; }
  .text-label__soft-skills {
    margin-right: 15px;
    padding-bottom: 100px; }
  .header-parallax__text-container .header-parallax__title {
    margin-top: 0px;
    font-size: 9vw;
    padding-bottom: 0px;
    padding-right: 0px; }
  .mask {
    height: 32px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700; }
  .mask span {
    top: 107px; }
  .header-parallax__text-container {
    margin: 500px 0;
    font-size: 15px;
    padding: 15px 15px; }
  .images-parallax_humans {
    background: url(img/photo_for_site_horizontalGreyscale.png) 70% -10% no-repeat;
    z-index: 3; }
  .about .about-row {
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .about .about-row__col-1 {
      flex: 0 1 35%;
      padding: 0 15px;
      width: fit-content; }
      .about .about-row__col-1 img {
        object-fit: cover;
        border-radius: 15px; }
    .about .about-row__col-2 {
      width: 100%;
      flex: 0 1 50%;
      padding: 0 15px; }
    .about .about-row__tabs-nav {
      gap: 5px; }
  ._container {
    min-width: 100%; } }

@media only screen and (min-width: 480px) {
  .icons_menu {
    padding: 0 100px;
    transition: all .2s linear; }
    .icons_menu i {
      display: inline-block;
      font-size: 20px;
      border-radius: 50%;
      background: #7d9900;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      width: 3rem; }
    .icons_menu i:hover {
      background: #fff;
      color: #171717; }
  .header__navigation {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .2s linear; }
  .header .header__navigation ul.active {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(100, 100, 101, 0.7);
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 101, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    z-index: 5; }
  .header .header__navigation ul {
    display: none;
    padding: 20px 10px;
    justify-content: space-around;
    gap: 1rem; }
  .header .header__icons .header__site-language {
    padding-right: 100px; }
  .about .about-row__tabs-nav {
    gap: 30px; }
  .contact__container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 100px;
    column-gap: 50px;
    row-gap: 50px; }
  .text-label__hard-skills {
    margin-left: 25px;
    padding-bottom: 25px; }
  .text-label__soft-skills {
    margin-right: 25px;
    padding-bottom: 50px; }
  .skills__title {
    padding-bottom: 90px; }
  .text1 {
    top: 75px;
    font-size: 140px;
    font-weight: 900;
    letter-spacing: 10px; }
  .text2 {
    bottom: 125px;
    font-size: 140px;
    font-weight: 900;
    letter-spacing: 15px; }
  .text-label__hard-skills {
    margin-left: 50px;
    padding-bottom: 100px; }
  .text-label__soft-skills {
    margin-right: 50px;
    padding-bottom: 100px; }
  .header-parallax__text-container .header-parallax__title {
    margin-top: 0px;
    font-size: 9vw;
    padding-bottom: 0px;
    padding-right: 0px; }
  .mask {
    height: 52px;
    margin-top: 10px;
    font-size: 43px;
    font-weight: 700; }
  .mask span {
    top: 143px; }
  .header-parallax__text-container {
    margin: 500px 0;
    font-size: 25px;
    padding: 20px 20px; }
  .images-parallax_humans {
    background: url(img/photo_for_site_horizontalGreyscale.png) 70% 75% no-repeat;
    z-index: 3; }
  ._container {
    min-width: 100%; }
  .about .about-row {
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .about .about-row__col-1 {
      flex: 0 1 35%;
      padding: 0 15px; }
      .about .about-row__col-1 img {
        width: fit-content;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; }
    .about .about-row__col-2 {
      flex: 0 1 50%;
      padding: 0 15px; } }

@media only screen and (min-width: 768px) {
  .icons_menu {
    padding: 0 100px;
    transition: all .2s linear; }
    .icons_menu i {
      display: inline-block;
      font-size: 20px;
      border-radius: 50%;
      background: #7d9900;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      width: 3rem; }
    .icons_menu i:hover {
      background: #fff;
      color: #171717; }
  .header__navigation {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .2s linear; }
  .header .header__navigation ul.active {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(100, 100, 101, 0.7);
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 101, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    z-index: 5; }
  .header__icons {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .header__navigation ul {
    display: none;
    padding: 20px 10px;
    justify-content: space-around;
    gap: 1rem; }
  .contact__container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    column-gap: 150px;
    row-gap: 150px; }
  .about .about-row {
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .about .about-row__col-1 {
      flex: 0 1 35%;
      padding: 0 55px; }
      .about .about-row__col-1 img {
        width: fit-content;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; }
    .about .about-row__col-2 {
      flex: 0 1 50%;
      padding: 0 55px; }
  .text-label__hard-skills {
    margin-left: 100px;
    padding-bottom: 200px; }
  .text-label__soft-skills {
    margin-right: 100px;
    padding-bottom: 160px; }
  .skills__title {
    padding-bottom: 90px; }
  .text1 {
    top: 68px;
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 30px; }
  .text2 {
    font-size: 200px;
    font-weight: 900;
    letter-spacing: 30px; }
  .header-parallax {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header-parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .header-parallax__text-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 550px 200px;
    font-size: 30px;
    z-index: 5;
    padding: 25px 50px;
    position: relative;
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 101, 0.37);
    border-radius: 15px; }
    .header-parallax__text-container .header-parallax__title {
      margin-top: 10px;
      font-size: 60px;
      padding-bottom: 20px;
      padding-right: 36px; }
      .header-parallax__text-container .header-parallax__title span {
        font-weight: 900;
        text-transform: uppercase;
        color: #7d9900; }
  .mask {
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 700; }
  .mask span {
    display: block;
    position: absolute;
    width: max-content;
    top: 80px;
    padding-bottom: 20px;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat; } }

@media only screen and (min-width: 1200px) {
  .header__icons {
    display: flex;
    justify-content: center;
    align-items: center; }
  .icons_menu i {
    display: none;
    font-size: 50px;
    padding: 0 100px; }
  .header .header__navigation ul {
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    justify-content: space-around;
    gap: 7rem; }
  .contact__container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    column-gap: 50px;
    row-gap: 50px; }
  .container-left {
    flex-basis: 33%;
    min-width: 100%;
    margin: 50px; }
  .text1 {
    font-size: 300px;
    font-weight: 900;
    top: 0;
    letter-spacing: 50px; }
  .text2 {
    font-size: 300px;
    font-weight: 900;
    letter-spacing: 50px;
    bottom: 100px; }
  .text-label__hard-skills {
    margin-left: 250px;
    padding-bottom: 200px; }
  .text-label__soft-skills {
    margin-right: 250px;
    padding-bottom: 200px; }
  .about .about-row {
    display: flex;
    flex-direction: row;
    gap: 0px; }
    .about .about-row__col-1 {
      flex-basis: 50%;
      padding: 0 55px; }
      .about .about-row__col-1 img {
        width: fit-content;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; }
    .about .about-row__col-2 {
      flex-basis: 50%;
      padding: 0 55px; } }


/*# sourceMappingURL=main.css.map*/